<div id="viewport" *ngIf="!isLoading">
  <nav class="hud">
    <button>Información</button>
    <button>Nave</button>
    <button>Misiones</button>
    <p>Nivel: {{ playerInformation.stats.level }}</p>
    <p>Experiencia: {{ playerInformation.stats.experience }}</p>
    <p>Honor: {{ playerInformation.stats.honor }}</p>
    <p>Puntos de compañia: {{ playerInformation.stats.companyPoints }}</p>
  </nav>

  <div
    id="world"
    [style.transform]="'translate(' + cameraX + 'px,' + cameraY + 'px)'"
  >
    <!-- =========================
         JUGADOR LOCAL
    ========================== -->
    <div
      class="ship"
      [style.transform]="
        'translate(' +
        playerState.x +
        'px,' +
        playerState.y +
        'px) rotate(' +
        playerState.angle +
        'deg)'
      "
    >
      <img src="Astro.png" />
      <div class="username-tag">{{ PLAYER_USERNAME }}</div>
    </div>

    <!-- =========================
         OTROS JUGADORES
    ========================== -->
    <ng-container *ngFor="let ship of otherShips | keyvalue">
      <div
        class="ship"
        [style.transform]="
          'translate(' +
          ship.value.x +
          'px,' +
          ship.value.y +
          'px) rotate(' +
          ship.value.angle +
          'deg)'
        "
      >
        <img src="Astro.png" />
        <div class="username-tag">{{ ship.value.username }}</div>
      </div>
    </ng-container>

    <!-- =========================
         MONSTRUOS
    ========================== -->
    <ng-container *ngFor="let monster of monsters | keyvalue">
      <div
        class="monster"
        [style.transform]="
          'translate(' + monster.value.x + 'px,' + monster.value.y + 'px)'
        "
        (pointerdown)="attackMonster(monster.value.id)"
      >
        <div class="monster-name">{{ monster.value.type }}</div>
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="isLoading" class="loading">Cargando mundo...</div>
