server:
  port: 8080

spring:
  redis:
    host: localhost
    port: 6379
    timeout: 60000
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
        max-wait: -1ms

  cache:
    type: redis

  kafka:
    bootstrap-servers: localhost:9092

application:
  security:
    jwt:
      secret_key: ${SECRET_KEY}
      expiration: 8640000
  cors:
    allowed-origins: ${ALLOWED_ORIGINS:*}
